* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 5vmin;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    height: 2rem;
}

.logo {
    background-color: chocolate;
    flex: 1;
    display: flex;
}

.logo img {
    height: 2rem;
}

.logo h1 {
    font-size: 1rem;
    font-weight: 300;
    align-self: center;
}

.nav-bar {
    background-color: crimson;
    height: inherit;
    flex-basis: 70%;
}

.nav-bar ul {
    height: inherit;
    font-size: 1rem;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar li {
    margin: 0 0.5rem;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .header {
        flex-wrap: wrap;
    }

    .logo, .nav-bar {
        flex-basis: 100%;
    }

    .logo{
        justify-content: center;
    }

    .nav-bar ul {
        justify-content: center;
    }
}
